h1 {
    color: rgba(233, 186, 13, 0.563);
    
}

img {
    height: 120px;
    margin:auto;
}

body {
    padding: 1rem;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    margin-right: 0;
}

#team-list {
    position: relative;
}

div.pokemon-obj {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

input#pokeform-input{
    border-color: yellow;
}